@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Scanton.styles.css" asp-append-version="true" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

<div class="body">
    <div class="container-view-cart">
        <div class="shoppingCart">
            <h1> <i class="fa fa-shopping-cart cart-icon-view"></i>Shopping Cart</h1>
            <table class="cart-table">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td class="item-details">
                            <div class="item-info">
                                <div class="view-img">
                                    <img src="~/images/rolex-3.jpg" alt="Watch" class="item-image">
                                </div>

                                <div class="view-heading">
                                    <h2>Rolex Datejust 36mm Steel Watch</h2>
                                    <div class="pricing">
                                        <div class="price-info">
                                            <span class="price">$7,600.00</span>
                                            
                                        </div>
                                        <div class="quantity-section">
                                            <label for="quantity" class="quantity-label">Quantity:</label>
                                            <div class="quantity-controls">
                                                <button class="quantity-btn minus-btn">-</button>
                                                <input type="text" id="quantity" value="1" class="quantity-input">
                                                <button class="quantity-btn plus-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="item-details">
                            <div class="item-info">
                                <div class="view-img">
                                    <img src="~/images/rolex-1.webp" alt="Watch" class="item-image">
                                </div>

                                <div class="view-heading">
                                    <h2>Rolex Datejust 36mm Steel Watch</h2>
                                 

                                    <div class="pricing">
                                        <div class="price-info">
                                            <span class="price">$7,600.00</span>
                                        </div>
                                        <div class="quantity-section">
                                            <label for="quantity" class="quantity-label">Quantity:</label>
                                            <div class="quantity-controls">
                                                <button class="quantity-btn minus-btn">-</button>
                                                <input type="text" id="quantity" value="1" class="quantity-input">
                                                <button class="quantity-btn plus-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="item-details">
                            <div class="item-info">
                                <div class="view-img">
                                    <img src="~/images/rolex22.jpg" alt="Watch" class="item-image">
                                </div>

                                <div class="view-heading">
                                    <h2>Rolex Datejust 36mm Steel Watch</h2>
                                  

                                    <div class="pricing">
                                        <div class="price-info">
                                            <span class="price">$7,600.00</span>
                                          
                                        </div>
                                        <div class="quantity-section">
                                            <label for="quantity" class="quantity-label">Quantity:</label>
                                            <div class="quantity-controls">
                                                <button class="quantity-btn minus-btn">-</button>
                                                <input type="text" id="quantity" value="1" class="quantity-input">
                                                <button class="quantity-btn plus-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="item-details">
                            <div class="item-info">
                                <div class="view-img">
                                    <img src="~/images/rolex-3.jpg" alt="Watch" class="item-image">
                                </div>

                                <div class="view-heading">
                                    <h2>Rolex Datejust 36mm Steel Watch</h2>
                                    <div class="pricing">
                                        <div class="price-info">
                                            <span class="price">$7,600.00</span>

                                        </div>
                                        <div class="quantity-section">
                                            <label for="quantity" class="quantity-label">Quantity:</label>
                                            <div class="quantity-controls">
                                                <button class="quantity-btn minus-btn">-</button>
                                                <input type="text" id="quantity" value="1" class="quantity-input">
                                                <button class="quantity-btn plus-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="item-details">
                            <div class="item-info">
                                <div class="view-img">
                                    <img src="~/images/rolex-1.webp" alt="Watch" class="item-image">
                                </div>

                                <div class="view-heading">
                                    <h2>Rolex Datejust 36mm Steel Watch</h2>


                                    <div class="pricing">
                                        <div class="price-info">
                                            <span class="price">$7,600.00</span>
                                        </div>
                                        <div class="quantity-section">
                                            <label for="quantity" class="quantity-label">Quantity:</label>
                                            <div class="quantity-controls">
                                                <button class="quantity-btn minus-btn">-</button>
                                                <input type="text" id="quantity" value="1" class="quantity-input">
                                                <button class="quantity-btn plus-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="item-details">
                            <div class="item-info">
                                <div class="view-img">
                                    <img src="~/images/rolex22.jpg" alt="Watch" class="item-image">
                                </div>

                                <div class="view-heading">
                                    <h2>Rolex Datejust 36mm Steel Watch</h2>


                                    <div class="pricing">
                                        <div class="price-info">
                                            <span class="price">$7,600.00</span>

                                        </div>
                                        <div class="quantity-section">
                                            <label for="quantity" class="quantity-label">Quantity:</label>
                                            <div class="quantity-controls">
                                                <button class="quantity-btn minus-btn">-</button>
                                                <input type="text" id="quantity" value="1" class="quantity-input">
                                                <button class="quantity-btn plus-btn">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


           @*  <div class="giftOptions">
                <h3>Gift options</h3>
                <p>Pick a paper of your choice (optional)</p>
                <label><input type="checkbox"> Gift Receipt</label>
                <label><input type="checkbox"> Printed card</label>
            </div>

            <div class="giftCardsWrapper">
                <h3>Gift Cards</h3>
                <div class="giftCards">
                    <input type="text" placeholder="Enter the gift card code">
                    <button>ADD GIFT CARD</button>
                </div>
            </div>

            <div class="discountCodeWrapper">
                <h3>Apply Discount Code</h3>
                <div class="discountCode">
                    <input type="text" placeholder="Enter discount code">
                    <button>APPLY DISCOUNT</button>
                </div>
            </div> *@
        </div>

        <div class="orderSummary">
            <h2>Order Summary</h2>
            <div class="shippingOptions">
                <h3 class="estimate">Estimate Shipping and Tax</h3>
                <label>Country</label>
                <select>
                    <option value="US">United States</option>
                </select>
                <label>State/Province</label>
                <select>
                    <option value="">Select a State</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
                <label>Zip/Postal Code</label>
                <input type="text" placeholder="Zip/Postal Code">
            </div>
            <div class="amount_wrapper">
                <div class="flatRate">
                    <input type="radio" name="shipping" checked> Flat Rate ($5.00)
                </div>
                <div class="bestWay">
                    <input type="radio" name="shipping"> Best Way (Table Rate $15.00)
                </div>
            </div>
            <div class="totalPrice">
                <p>Subtotal <span>$7,600.00</span></p>
                <p>Shipping <span>$5.00</span></p>
                <p class="total">Order Total <span>$7,605.00</span></p>
            </div>
            <div class="proceed_section">
                <button>PROCEED TO CHECKOUT</button>
                <span>Check Out with Multiple Addresses</span>
            </div>
        </div>

    </div>
</div>

<div class="shippingContainer">
    <div>
        <img src="https://www.svgrepo.com/show/60587/fast-delivery.svg" height="30" width="30" alt="delivery">
        <p>Free <br>U.S. Shipping</p>
    </div>
    <div>
        <img src="https://www.svgrepo.com/show/158198/return.svg" height="30" width="30" alt="return">
        <p>30 DAY <br> FREE RETURN</p>
    </div>
    <div>
        <img src="https://static.thenounproject.com/png/1063365-200.png" height="30" width="30" alt="FINANCING">
        <p>FINANCING <br>AVAILABLE</p>
    </div>
    <div>
        <img src="https://pic.onlinewebfonts.com/thumbnails/icons_397927.svg" height="30" width="30" alt="delivery">
        <p>Authenticity<br>Guaranteed</p>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


<script>
         $(document).ready(function () {
        $(".quantity-controls").on("click", ".quantity-btn", function () {
            let inputField = $(this).siblings(".quantity-input");
            let currentValue = parseInt(inputField.val());

            if ($(this).hasClass("plus-btn")) {
                inputField.val(currentValue + 1);
            } else if ($(this).hasClass("minus-btn")) {
                if (currentValue > 1) {
                    inputField.val(currentValue - 1);
                }
            }
        });
    });

</script>